body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color:#FFFFFF;

    font-family: Calibri, sans-serif;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header, main, footer {
    flex-shrink: 0;
}

header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color:#CCCCCC;*/
    background-color:#fafafb;
    padding: 5px 10px 5px 10px;
    height: 50px;
    border-bottom: 1px solid #FFFFFF;
}

header a {
    color: #009688;
    text-decoration: none;
    padding: 0 10px 0px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}



.logo {
    font-size: 16px;
    float: left;
    /*color: #edb228;*/
    color: #9E9E9E
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    /*margin-right: 50px;*/
}

.navigation a {
    /*border-bottom: 2px solid #ffffff;*/
    border-radius: 2px;
    width: 60px;
    margin-right: 11px;
    padding: 8px;
    display: inline-block;
}
.navigation a.active {
    /*color: #8BC34A;*/
    background-color: white;

    /*font-weight: bold;*/
    /*border-bottom: 2px solid white;*/
}
.navigation a:hover{
    /*color: greenyellow;*/
    background: white;
    border-bottom: 2px solid yellow;
}
main {
    flex-grow: 1;
    padding: 20px;
}


.main {
    display: flex;
    /*min-height: 500px;*/
    min-height: calc(100vh - 40vh);
}
.main > article {
    flex: 1;
    padding: 5px;
}
article div{
    flex: 1;

    /*text-align: center;*/
}
.main > nav,
.main > aside{
    display: flex;
    flex: 0.2;
    /*background: #fafafb;/*/
}

.main > nav {
    flex: 0.2;
}

.question{
    background: #f0f8ff9c;
    padding: 15px;
    border-radius: 5px;
}
.question a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1.2em;
    color: #03A9F4;
}
.question .q-btn{
    float: right;
    background: #009688;
    padding: 6px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}
.clearfix{
    clear: both;
}
.q-table{
    width: 100%;
    box-sizing: border-box;
    /*margin-top: 30px;*/
    border-bottom: 1px solid white;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    background: #f0f8fffa;
}
.q-title{
    width: 657px;
    padding-right: 9px;
}

form{
    display:inline-block;
}
form p{
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: 9px;
    font-size: 18px;
}
article .sub-container{
    /*margin: 0 auto;*/
    background: #f0f8ff9c;
    padding: 15px;
    border-radius: 5px;
}
input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 0.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
}
button, input {
    overflow: visible;
}
.login, .register{
    margin: 0 auto;
    margin-top: 50px;
    width: 250px;
}

.submit{
    background: #009688;
    padding: 6px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    display: block;
    width: 112%;
}
.footer{
    height: 30px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    background-color:#fafafb;
    position: fixed;

}


footer {
    background:#fafafb;
    height: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: #9E9E9E;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}