body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color:#FFFFFF;

    font-family: Calibri, sans-serif;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header, main, footer {
    flex-shrink: 0;
}

header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color:#CCCCCC;*/
    background-color:#fafafb;
    padding: 5px 10px 5px 10px;
    height: 50px;
    border-bottom: 1px solid #FFFFFF;
}

header a {
    color: #8BC34A;
    text-decoration: none;
    padding: 0 10px 0px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}



.logo {
    font-size: 16px;
    float: left;
    /*color: #edb228;*/
    color: #9E9E9E
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.navigation a {
    border-bottom: 2px solid #ffffff;
    border-radius: 30%;
    width: auto;
    padding: 8px;
    margin: 10px;
    display: inline-block;
}
.navigation a.active {
    /*color: #8BC34A;*/
    background-color: white;

    /*font-weight: bold;*/
    /*border-bottom: 2px solid white;*/
}
.navigation a:hover{
    /*color: greenyellow;*/
    background: white;
    border-bottom: 2px solid yellow;
}
main {
    flex-grow: 1;
    padding: 20px;
}


.main {
    display: flex;
    /*min-height: 500px;*/
    min-height: calc(100vh - 40vh);
}
.main > article {
    flex: 1;
    padding: 5px;
}
article div{
    flex: 1;
    /*text-align: center;*/
}
.main > nav,
.main > aside{
    display: flex;
    flex: 0.2;
    /*background: #fafafb;/*/
}

.main > nav {
    flex: 0.2;
}
.footer{
    height: 30px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    background-color:#fafafb;
    position: fixed;

}


footer {
    background:#fafafb;
    height: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: #9E9E9E;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}